<%_ const path='./../'; _%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- meta -->
        <%- include('./../_common/_head', {
        path:path,meta:data.meta['service'],}) %>
    </head>
    <body>
        <%- include('./../_common/_header',{path:path,url:data.url,}) %>

        <!-- main -->
        <main>
            <section class="p-page-fv"></section>
            <section class="p-page-fv--title">
                <div class="p-page-fv__inner">
                    <h2 class="p-page-fv__subtitle">service</h2>
                    <h1 class="p-page-fv__title">主な事業について</h1>
                </div>
            </section>

            <!-- #service -->
            <section id="service" class="p-page-section">
                <div class="p-page-section__inner l-section__inner">
                    <article class="p-page-section__block">
                        <h2>ホームページの制作・構築・運用</h2>
                        <p>
                            ホームページのデザインからコーディングまで一貫して担います。
                        </p>
                        <p>
                            また、ホームページの目的やサイト設計から携わり、ただのホームページ制作にとどまらず、長く寄り添っていければと思います。<br />
                            ホームページをつくって終わりではなく、ホームページの運用・改善まで携わります。
                        </p>
                        <p>
                            インハウスデザイナーの経験を活かして、事業や外部環境の変化に応じてホームページも改善・運用していきます。
                        </p>
                        <hr />
                        <h2>デザイン・コーディングの部分的な業務</h2>
                        <p>
                            一貫してホームページ制作の業務を担うことができますが、部分的にデザインのみ・コーディングのみ・WordPressの更新作業のみ・・・なども担当できます。
                        </p>
                        <p>お気軽にご相談ください。</p>
                    </article>
                </div>
            </section>
            <!-- /#service -->

            <!-- #contact -->
            <%- include('./../_common/_contact',{path:path,}) %>
            <!-- /#contact -->
        </main>
        <!-- /main -->

        <%- include('./../_common/_footer',{path:path,url:data.url,}) %>
    </body>
</html>
