<%_ const path='./../'; _%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- meta -->
        <%- include('./../_common/_head', { path:path,meta:data.meta['about'],})
        %>
    </head>
    <body>
        <%- include('./../_common/_header',{path:path,}) %>

        <!-- main -->
        <main></main>
        <!-- /main -->

        <%- include('./../_common/_footer',{path:path,}) %>
    </body>
</html>
