<article class="c-block-grid4 l-section__block">
    <figure class="c-block-grid4__content">
        <picture class="c-block-grid4__picture">
            <img
                src="<%= path%>asset/img/skill1.webp"
                alt="サイト設計"
                loading="lazy"
            />
        </picture>
        <figcaption class="c-block-grid4__caption">
            <h3 class="c-text-heading3">サイト設計</h3>
            <p>
                ヒアリングから事業の調査・競合の調査を実施します。ただ依頼通りにサイトを制作するだけではなく、事業を理解したうえでランディングページのコンテンツや訴求を提案します。
            </p>
            <ul class="c-lists">
                <li>ヒアリング</li>
                <li>事業・競合調査</li>
                <li>サイトの戦略設計</li>
            </ul>
        </figcaption>
    </figure>
    <figure class="c-block-grid4__content">
        <picture class="c-block-grid4__picture">
            <img
                src="<%= path%>asset/img/skill2.webp"
                alt="デザイン"
                loading="lazy"
            />
        </picture>
        <figcaption class="c-block-grid4__caption">
            <h3 class="c-text-heading3">デザイン</h3>
            <p>
                ワイヤーフレームの作成、WEBサイトのデザインが可能です。また、簡易的なデザインシステムの構築も可能で、コーディングを見据えたレイヤーの切り分けやカラーの定義なども実施します。
            </p>
            <ul class="c-lists">
                <li>Figma</li>
                <li>Adobe XD</li>
            </ul>
        </figcaption>
    </figure>
    <figure class="c-block-grid4__content">
        <picture class="c-block-grid4__picture">
            <img
                src="<%= path%>asset/img/skill3.webp"
                alt="・コーディング・構築"
                loading="lazy"
            />
        </picture>
        <figcaption class="c-block-grid4__caption">
            <h3 class="c-text-heading3">コーディング・構築</h3>
            <p>
                コーディング、WordPressの設置・組み込み・開発も可能です。<br />
                WordPressに限らずご要望に合わせたCMSもご提案します。
            </p>
            <ul class="c-lists">
                <li>HTML/CSS/JavaScript</li>
                <li>gulp</li>
                <li>EJS</li>
                <li>Dart Sass CSS設計（FLOCSS）</li>
            </ul>
        </figcaption>
    </figure>
    <figure class="c-block-grid4__content">
        <picture class="c-block-grid4__picture">
            <img
                src="<%= path%>asset/img/skill4.webp"
                alt="サイトの管理・運用"
                loading="lazy"
            />
        </picture>
        <figcaption class="c-block-grid4__caption">
            <h3 class="c-text-heading3">サイトの管理・運用</h3>
            <p>
                WordPressなどのサイトの更新作業はもちろん、月次分析レポートの整理なども実施します。<br />
                軽微な修正にも対応していますのでお気軽にご相談ください。
            </p>
            <ul class="c-lists">
                <li>WordPress</li>
                <li>Google Analytics</li>
                <li>Google Search Console</li>
                <li>Google Tag Manager</li>
            </ul>
        </figcaption>
    </figure>
</article>
