/* c-block
--------------------------- */
@use "./../../foundation/system" as *;

.c-block-grid4 {
    display: grid;
    // 左寄せ
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 40px 40px;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__caption {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    @include breakpoint(tablet) {
        grid-template-columns: repeat(auto-fit, 260px);
        grid-gap: 20px 20px;
    }
    @include breakpoint(pc) {
    }
}

.c-block-slide {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
    margin: 0 0 52px 0;
    overflow-x: scroll;
    &::-webkit-scrollbar {
        width: 10px;
        height: 8px;
    }
    &::-webkit-scrollbar-track {
        background: $c-base-lightGray;
        border: none;
        border-radius: 10px;
        box-shadow: inset 0 0 1px $c-base-darkGray;
    }
    &::-webkit-scrollbar-thumb {
        background: $c-base-darkGray;
        border-radius: 10px;
        box-shadow: none;
    }
    &Title {
        font-size: 2rem;
        font-weight: 700;
        width: 290px;
        margin: 0 0 20px 0;
        padding: 0 0 0 8px;
        border-bottom: solid 2px $c-base-black;
    }

    &__list {
        flex: 0 0 40%;
        margin-bottom: 18px;
    }

    &__figure {
        position: relative;
        &:hover .c-block-slide__figcaption {
            opacity: 1;
            padding-top: 13%;
        }
    }
    &__figcaption {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        background-color: rgba($color: $c-base-white, $alpha: 0.8);
        transition: all 0.4s ease;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 36px;
        font-weight: bold;
        color: $c-body-black;
    }

    &__modal {
        position: fixed;
        display: flex;
        align-items: center;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        border: none;
        opacity: 0;
        z-index: -1;
    }
    &__mask {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: $c-base-lightGray, $alpha: 0.7);
    }
    &__window {
        width: 80vw;
        max-width: 1000px;
        // height: 80vh;
        margin: auto;
        padding: 14px;
        background: $c-base-white;
        z-index: 1;
        overflow-y: hidden;
    }
    &__dl {
        color: $c-body-black;
        font-size: 1.4rem;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        height: 80%;
        h3 {
            font-weight: bold;
            margin-top: 10px;
        }
    }
    &__close {
        position: absolute;
        top: 10px;
        right: 16px;
        color: $c-base-black;
        font-size: 1.8rem;
        cursor: pointer;
        &:hover {
            color: $c-base-darkGray;
            transition: all 0.5s;
        }
    }
    &__modal.is_open {
        animation: modal_open 0.5s ease forwards;
    }
    &__modal.is_open .c-block-slide__window {
        animation: window_open 0.5s ease forwards;
    }
    &__modal.is_close {
        animation: modal_close 0.5s ease forwards;
    }
    &__modal.is_close .c-block-slide__window {
        animation: window_close 0.5s ease forwards;
    }

    @keyframes modal_open {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            z-index: 300;
        }
    }
    @keyframes window_open {
        0% {
            opacity: 0;
            transform: translateY(-30px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    @keyframes modal_close {
        0% {
            z-index: 300;
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes window_close {
        0% {
            opacity: 1;
            transform: translateY(0);
        }
        100% {
            transform: translateY(-30px);
            opacity: 0;
        }
    }
    @include breakpoint(tablet) {
        &__list {
            flex: 0 0 30%;
        }
        &__dl {
            width: 80%;
        }
    }
    @include breakpoint(pc) {
    }
}

.c-block-caption {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 16px;

    &__description {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__slider {
        width: 300px;
        height: 240px;
        overflow: hidden;
    }
    &__slide-lists {
        width: 300%;
        animation: slider 12s infinite ease;
    }
    &__slide-list {
        width: 300px;
        float: left;
        img {
            object-fit: cover;
        }
    }

    @include breakpoint(tablet) {
        flex-direction: row;
    }
    @include breakpoint(pc) {
    }
}

@keyframes slider {
    0% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-300px);
    }
    60% {
        transform: translateX(-600px);
    }
    100% {
        transform: translateX(0);
    }
}
