/* c-text
--------------------------- */
@use "./../../foundation/system" as *;

.c-text-heading2 {
    text-align: center;
    font-weight: 700;
    margin: 0 auto 12px;
    span {
        display: block;
        font-size: 4rem;
        letter-spacing: 2px;
        @include noto-sans();
    }
}
.c-text-heading3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.c-text-lead {
    display: table;
    margin: 0 auto 32px;
    text-align: left;
}

.c-text-center {
    text-align: center;
}
.c-text-left {
    text-align: left;
}

.c-text-primary {
    color: $c-primary;
}

.c-text-marker {
    background: linear-gradient(transparent 70%, #ffc892 70%);
}
