/* c-section
--------------------------- */
@use "./../foundation/system" as *;

.l-section {
    padding: 0px 0px;
    background-color: $c-base-white;
    &:nth-of-type(odd) {
        background-color: $c-base-lightGray;
    }

    &__inner {
        @include content-maxwidth();
        margin: 0 auto;
        padding: 120px 20px;
    }
    &__block {
        margin: 40px auto 0;
    }

    @include breakpoint(tablet) {
    }
    @include breakpoint(pc) {
    }
}
