<!-- .c-loading -->
<article class="c-loading" id="js-loading">
    <div class="c-loading__spinner"></div>
</article>
<!-- /.c-loading -->

<!-- .l-header -->
<header class="l-header">
    <div class="l-header__inner">
        <a class="l-header__logo" href="">
            <img src="./asset/img/logo.svg" alt="" />
        </a>
        <nav class="l-header__nav">
            <div class="c-cta">
                <a href="#contact" class="c-cta__button--min">お問い合わせ</a>
            </div>
            <input
                type="checkbox"
                class="js-navToggle"
                id="l-header__navToggle"
            />
            <label for="l-header__navToggle" class="l-header__navHamburger">
                <span></span>
            </label>
            <label for="l-header__navToggle" class="l-header__navClose"></label>
            <ul class="l-header__navLists js-navLists">
                <li><a href="#feature">特長</a></li>
                <li><a href="#skill">スキル</a></li>
                <li><a href="#work">実績</a></li>
                <li><a href="#service">サービス</a></li>
                <li><a href="#about">プロフィール</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- /.l-header -->
