<%_ const path='./'; _%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- meta -->
        <%- include('./_common/_head', { path:path,meta:data.meta['home'],})%>
    </head>
    <body>
        <%- include('./_common/_header',{path:path,}) %>

        <!-- main -->
        <main>
            <!-- .p-home-fv -->
            <section class="p-home-fv">
                <figure class="p-home-fv__figure">
                    <picture class="p-home-fv__picture">
                        <img src="" alt="" />
                    </picture>
                    <figcaption>
                        <h1 class="p-home-fv__title"></h1>
                        <div class="c-cta">
                            <a href="" class="c-cta__button">問い合わせる</a>
                        </div>
                    </figcaption>
                </figure>
            </section>
            <!-- /.p-home-fv -->

            <!-- .p-home-feature -->
            <section class="l-section p-home-feature">
                <figure class="p-home-feature__figure">
                    <picture class="p-home-feature__picture">
                        <img src="" alt="" />
                    </picture>
                    <figcaption class="p-home-feature__figcaption">
                        <h2 class="p-home-feature__title"></h2>
                        <ul class="c-lists">
                            <li>リスト1</li>
                            <li>リスト2</li>
                            <li>リスト3</li>
                        </ul>
                        <p></p>
                    </figcaption>
                </figure>
            </section>
            <!-- /.p-home-feature -->

            <!-- #skill -->
            <section id="skill" class="l-section">
                <div class="l-section__inner">
                    <h2 class="c-text-heading2">自分にできること</h2>
                    <p class="c-text-lead">スキルセットです</p>
                    <article class="c-block-grid4 l-section__block">
                        <figure class="c-block-grid4__content">
                            <picture class="c-block-grid4__picture">
                                <img src="" alt="" />
                            </picture>
                            <figcaption class="c-block-grid4__caption">
                                <h3 class="c-text-heading3"></h3>
                                <p></p>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </section>
            <!-- /#skill -->

            <!-- #work -->
            <section id="work" class="l-section">
                <div class="l-section__inner">
                    <h2 class="c-text-heading2">実績</h2>
                    <p class="c-text-lead">
                        制作実績になります。実績の詳細をPDFスライドでもまとめていますのでお問い合わせください。
                    </p>
                    <article class="l-section__block">
                        <h3 class="c-text-heading3">コーディング実績</h3>
                        <ul class="c-block-slide">
                            <li></li>
                        </ul>
                    </article>
                </div>
            </section>
            <!-- /#work -->

            <!-- #service -->
            <section id="service" class="l-section">
                <div class="l-section__inner">
                    <h2 class="c-text-heading2">サービス</h2>
                    <p class="c-text-lead"></p>
                    <article class="c-block-caption l-section__block">
                        <dl class="c-block-caption__description">
                            <dt class="c-text-heading3"></dt>
                            <dd></dd>
                        </dl>
                        <ul class="c-block-caption__slide">
                            <li><img src="" alt="" /></li>
                            <li><img src="" alt="" /></li>
                            <li><img src="" alt="" /></li>
                        </ul>
                    </article>
                    <article class="l-section__block">
                        <!-- .c-cta -->
                        <%- include('./_component/_cta',{path:path,}) %>
                        <!-- /.c-cta -->
                    </article>
                </div>
            </section>
            <!-- /#service -->

            <!-- .p-home-about -->
            <section id="about" class="l-section p-home-about">
                <figure class="p-home-about__figure">
                    <picture class="p-home-about__picture">
                        <img src="" alt="" />
                    </picture>
                    <figcaption class="p-home-about__caption">
                        <h2 class="c-text-heading2"></h2>
                        <p></p>
                    </figcaption>
                </figure>
                <div class="l-section__inner">
                    <h3 class="c-text-heading3">技術記事一覧</h3>
                    <p class="c-text-lead">
                        Zennなどで技術に関する情報発信も行っています。
                    </p>
                    <article class="l-section__block">
                        <ul class="c-lists-news">
                            <li class="c-lists-news__list">
                                <a href=""></a>
                            </li>
                        </ul>
                    </article>
                </div>
            </section>
            <!-- /.p-home-about -->

            <!-- #contact -->
            <section id="contact" class="l-section">
                <div class="l-section__inner">
                    <h2 class="c-text-heading2">お問い合わせ</h2>
                    <p class="c-text-lead">
                        お問合わせはこちらからご連絡ください。
                    </p>
                    <form
                        action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSdKu5nx2UrKoUZ2vpv8aKSG0LmLhYMiGTr5FKgEVZTHTBbblw/formResponse"
                        method="POST"
                        target="hidden_iframe"
                        onsubmit="submitted=true;"
                        class="c-form"
                    >
                        <div class="c-form__item">
                            <label class="c-form__label" for="field-name"
                                >名前・会社名<span class="c-form__required"
                                    >必須</span
                                ></label
                            >
                            <input
                                name="entry.690315515"
                                class="c-form__input"
                                id="field-name"
                                placeholder="株式会社 山田"
                                type="text"
                                required="required"
                            />
                        </div>
                        <div class="c-form__item">
                            <label class="c-form__label" for="field-mail"
                                >メールアドレス<span class="c-form__required"
                                    >必須</span
                                ></label
                            >
                            <input
                                name="entry.310605352"
                                class="c-form__input"
                                id="field-mail"
                                placeholder="sample@gmail.com"
                                type="email"
                                required="required"
                            />
                        </div>
                        <div class="c-form__item">
                            <label class="c-form__label" for="field-select"
                                >ご用件/目的<span class="c-form__required"
                                    >必須</span
                                ></label
                            >
                            <select
                                name="entry.2098078720"
                                class="c-form__input"
                                id="field-select"
                                required="required"
                            >
                                <option value="">選択してください</option>
                                <option value="WEBサイトデザインのお見積り">
                                    WEBサイトデザインのお見積り
                                </option>
                                <option value="WEBサイトコーディングのお見積り">
                                    WEBサイトコーディングのお見積り
                                </option>
                                <option value="WEBサイト構築のお見積り">
                                    WEBサイト構築のお見積り
                                </option>
                                <option value="取材等の連絡">
                                    取材等の連絡
                                </option>
                                <option
                                    value="その他（メッセージ内容に記載ください）"
                                >
                                    その他（メッセージ内容に記載ください）
                                </option>
                            </select>
                        </div>
                        <div class="c-form__item">
                            <label class="c-form__label" for="field-message"
                                >メッセージ内容</label
                            >
                            <textarea
                                name="entry.1726417427"
                                class="c-form__input"
                                id="field-message"
                                placeholder="お問い合わせ内容"
                            ></textarea>
                        </div>
                        <div class="c-cta">
                            <button type="submit" class="c-cta__button">
                                送信する
                            </button>
                        </div>
                    </form>
                    <p id="js-formThanks" class="c-formThanks">
                        お問い合わせありがとうございます。
                    </p>
                    <script>
                        let submitted = false;
                    </script>
                    <iframe
                        name="hidden_iframe"
                        id="hidden_iframe"
                        style="display: none"
                        onload="if(submitted){document.getElementById('js-formThanks').classList.add('is-received');}"
                    ></iframe>
                </div>
            </section>
            <!-- /#contact -->
        </main>
        <!-- /main -->

        <%- include('./_common/_footer',{path:path,}) %>
    </body>
</html>
