<%_ const path='./'; _%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- meta -->
        <%- include('./_common/_head', { path:path,meta:data.meta['home'],})%>
    </head>
    <body>
        <%- include('./_common/_header',{path:path,}) %>

        <!-- main -->
        <main>
            <!-- .p-home-fv -->
            <section class="p-home-fv">
                <figure class="p-home-fv__figure">
                    <picture class="p-home-fv__picture">
                        <img src="./asset/img/fv-content.webp" alt="" />
                    </picture>
                    <figcaption class="p-home-fv__caption">
                        <h1 class="p-home-fv__title">
                            <span>web designer</span><br />
                            デザインからコーディング<br />
                            一貫したホームページ制作
                        </h1>
                        <div class="c-cta">
                            <a href="#contact" class="c-cta__button"
                                >問い合わせる</a
                            >
                        </div>
                    </figcaption>
                </figure>
            </section>
            <!-- /.p-home-fv -->

            <!-- .p-home-feature -->
            <section class="l-section p-home-feature">
                <figure class="p-home-feature__figure">
                    <picture class="p-home-feature__picture">
                        <img src="./asset/img/feature-content.webp" alt="" />
                    </picture>
                    <figcaption class="p-home-feature__figcaption">
                        <h2 class="p-home-feature__title">特長</h2>
                        <ul class="c-lists">
                            <li>
                                ホームページをつくりたいけど誰に何を任せればいいかわからない…。
                            </li>
                            <li>
                                今のホームページをもう少し改善したいけど詳しい技術がわからない…。
                            </li>
                            <li>
                                デザイナーとエンジニア、それぞれ依頼してディレクションするのが面倒…。
                            </li>
                        </ul>
                        <div class="p-home-feature__description">
                            <p>
                                一貫したホームページ制作スキルをもとに解決します。
                            </p>
                            <p>
                                ヒアリング・サイト設計からデザイン・コーディング、ホームページの管理・運用まで。
                            </p>
                            <p>
                                ホームページ制作・運用に関する悩みがあればお気軽にご相談ください。
                            </p>
                        </div>
                    </figcaption>
                </figure>
            </section>
            <!-- /.p-home-feature -->

            <!-- #skill -->
            <section id="skill" class="l-section">
                <div class="l-section__inner">
                    <h2 class="c-text-heading2">
                        skill
                        <span>自分にできること</span>
                    </h2>
                    <p class="c-text-lead">
                        スキルセットの一覧です。サイト設計からワイヤーフレーム・デザイン、コーディング、ホームページの管理・運用まで担当できます。
                    </p>
                    <article class="c-block-grid4 l-section__block">
                        <figure class="c-block-grid4__content">
                            <picture class="c-block-grid4__picture">
                                <img
                                    src="https://placehold.jp/400x300.png"
                                    alt=""
                                />
                            </picture>
                            <figcaption class="c-block-grid4__caption">
                                <h3 class="c-text-heading3">サイト設計</h3>
                                <p>
                                    ヒアリングから事業の調査・競合の調査を実施します。ただ依頼通りにサイトを制作するだけではなく、事業を理解したうえでランディングページのコンテンツや訴求を提案します。
                                </p>
                                <ul class="c-lists">
                                    <li>ヒアリング</li>
                                    <li>事業・競合調査</li>
                                    <li>サイトの戦略設計</li>
                                </ul>
                            </figcaption>
                        </figure>
                        <figure class="c-block-grid4__content">
                            <picture class="c-block-grid4__picture">
                                <img
                                    src="https://placehold.jp/400x300.png"
                                    alt=""
                                />
                            </picture>
                            <figcaption class="c-block-grid4__caption">
                                <h3 class="c-text-heading3">サイト設計</h3>
                                <p>
                                    ヒアリングから事業の調査・競合の調査を実施します。ただ依頼通りにサイトを制作するだけではなく、事業を理解したうえでランディングページのコンテンツや訴求を提案します。
                                </p>
                                <ul class="c-lists">
                                    <li>ヒアリング</li>
                                    <li>事業・競合調査</li>
                                    <li>サイトの戦略設計</li>
                                </ul>
                            </figcaption>
                        </figure>
                        <figure class="c-block-grid4__content">
                            <picture class="c-block-grid4__picture">
                                <img
                                    src="https://placehold.jp/400x300.png"
                                    alt=""
                                />
                            </picture>
                            <figcaption class="c-block-grid4__caption">
                                <h3 class="c-text-heading3">サイト設計</h3>
                                <p>
                                    ヒアリングから事業の調査・競合の調査を実施します。ただ依頼通りにサイトを制作するだけではなく、事業を理解したうえでランディングページのコンテンツや訴求を提案します。
                                </p>
                                <ul class="c-lists">
                                    <li>ヒアリング</li>
                                    <li>事業・競合調査</li>
                                    <li>サイトの戦略設計</li>
                                </ul>
                            </figcaption>
                        </figure>
                        <figure class="c-block-grid4__content">
                            <picture class="c-block-grid4__picture">
                                <img
                                    src="https://placehold.jp/400x300.png"
                                    alt=""
                                />
                            </picture>
                            <figcaption class="c-block-grid4__caption">
                                <h3 class="c-text-heading3">サイト設計</h3>
                                <p>
                                    ヒアリングから事業の調査・競合の調査を実施します。ただ依頼通りにサイトを制作するだけではなく、事業を理解したうえでランディングページのコンテンツや訴求を提案します。
                                </p>
                                <ul class="c-lists">
                                    <li>ヒアリング</li>
                                    <li>事業・競合調査</li>
                                    <li>サイトの戦略設計</li>
                                </ul>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </section>
            <!-- /#skill -->

            <!-- #work -->
            <section id="work" class="l-section">
                <div class="l-section__inner">
                    <h2 class="c-text-heading2">
                        work
                        <span>実績</span>
                    </h2>
                    <p class="c-text-lead">
                        制作実績になります。実績の詳細をPDFスライドでもまとめていますのでお問い合わせください。
                    </p>
                    <article class="l-section__block">
                        <h3 class="c-text-heading3">コーディング実績</h3>
                        <ul class="c-block-slide">
                            <li class="c-block-slide__list">
                                <figure
                                    class="c-block-slide__figure"
                                    data-modal-open="modal-1"
                                >
                                    <img
                                        src="https://traveler20.site/portfolio/asset/img/work/cording_lp-plant.webp"
                                        alt=""
                                        loading="lazy"
                                    />
                                    <figcaption
                                        class="c-block-slide__figcaption"
                                    >
                                        ランディングページ
                                    </figcaption>
                                </figure>
                                <article
                                    class="c-block-slide__modal"
                                    data-modal="modal-1"
                                >
                                    <div class="c-block-slide__mask"></div>
                                    <div class="c-block-slide__window">
                                        <dl class="c-block-slide__dl">
                                            <dt>
                                                <img
                                                    class="c-block-slide__img"
                                                    src="https://traveler20.site/portfolio/asset/img/work/cording_lp-plant.webp"
                                                    alt=""
                                                    loading="lazy"
                                                />
                                            </dt>
                                            <dd>
                                                <h3>
                                                    観葉植物通販サイトのランディングページ
                                                </h3>
                                                <p>
                                                    HTML/CSS/SCSS/JavaScript/jQuery
                                                </p>
                                                <p>
                                                    <a
                                                        href="https://traveler20.github.io/WDLanding/"
                                                        target="_blank"
                                                        rel="noopener noreferrer"
                                                        >Webサイト</a
                                                    >
                                                </p>
                                            </dd>
                                        </dl>
                                        <div class="c-block-slide__close">
                                            &times;
                                        </div>
                                    </div>
                                </article>
                            </li>
                        </ul>
                    </article>
                </div>
            </section>
            <!-- /#work -->

            <!-- #service -->
            <section id="service" class="l-section">
                <div class="l-section__inner">
                    <h2 class="c-text-heading2">
                        service
                        <span>サービス</span>
                    </h2>
                    <p class="c-text-lead"></p>
                    <article class="c-block-caption l-section__block">
                        <dl class="c-block-caption__description">
                            <dt class="c-text-heading3 c-text-left">
                                ホームページの設計・デザイン
                            </dt>
                            <dd>
                                事業の理解・競合サイトの分析をもとにホームページを設計・デザインします。<br />
                                ご要望や期間に合わせてホームページの構成からデザインに落とし込んでいきます。
                                <ul class="c-lists">
                                    <li>ディレクトリツリー</li>
                                    <li>ワイヤーフレーム</li>
                                    <li>デザイン</li>
                                </ul>
                            </dd>
                        </dl>
                        <div class="c-block-caption__slider">
                            <ul class="c-block-caption__slide-lists">
                                <li class="c-block-caption__slide-list">
                                    <img
                                        src="https://placehold.jp/300x240.png"
                                        alt=""
                                    />
                                </li>
                                <li class="c-block-caption__slide-list">
                                    <img
                                        src="https://placehold.jp/300x240.png"
                                        alt=""
                                    />
                                </li>
                                <li class="c-block-caption__slide-list">
                                    <img
                                        src="https://placehold.jp/300x240.png"
                                        alt=""
                                    />
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article class="l-section__block">
                        <!-- .c-cta -->
                        <%- include('./_component/_cta',{path:path,}) %>
                        <!-- /.c-cta -->
                    </article>
                </div>
            </section>
            <!-- /#service -->

            <!-- .p-home-about -->
            <section id="about" class="l-section p-home-about">
                <div class="l-section__inner">
                    <figure class="p-home-about__figure">
                        <picture class="p-home-about__picture">
                            <!-- <img src="./asset/img/profile.webp" alt="" /> -->
                        </picture>
                        <figcaption class="p-home-about__caption">
                            <h2 class="c-text-heading2 c-text-left">
                                profile
                                <span>プロフィール</span>
                            </h2>
                            <p>
                                こんにちは！WEBデザイナー・WEBディベロッパーのゆるけーと申します。<br />
                                本業・副業ともにデザイン・コーディング業務を担当しています。
                            </p>
                            <p>
                                ただランディングページやホームページをつくっておわりではなく、継続的に運用・改善して考えることができますので、お気軽にご相談いただければと思います。
                            </p>
                        </figcaption>
                    </figure>
                    <article class="l-section__block">
                        <h3 class="c-text-heading3">技術記事一覧</h3>
                        <p class="c-text-lead">
                            Zennなどで技術に関する情報発信も行っています。
                        </p>
                    </article>
                    <article class="l-section__block">
                        <ul class="c-lists-news">
                            <li class="c-lists-news__list">
                                <a
                                    class="c-lists-news__link"
                                    href="https://zenn.dev/yurukei20/articles/2b315c826be4d8"
                                >
                                    <span class="c-lists-news__category"
                                        >Zenn</span
                                    >【CDNのコピペあり】Google Fonts
                                    Iconsの導入・使い方・装飾など【保存版】
                                </a>
                            </li>
                            <li class="c-lists-news__list">
                                <a
                                    class="c-lists-news__link"
                                    href="https://zenn.dev/yurukei20/articles/fb09545140a366"
                                >
                                    <span class="c-lists-news__category"
                                        >Zenn</span
                                    >【脱JavaScript】HTMLとCSSでできるJavaScriptっぽい機能
                                </a>
                            </li>
                            <li class="c-lists-news__list">
                                <a
                                    class="c-lists-news__link"
                                    href="https://zenn.dev/yurukei20/articles/9741118bfb5ee0"
                                >
                                    <span class="c-lists-news__category"
                                        >Zenn</span
                                    >Google
                                    FormをHTML/CSSでデザインしたフォームで運用する方法
                                </a>
                            </li>
                        </ul>
                    </article>
                </div>
            </section>
            <!-- /.p-home-about -->

            <!-- #contact -->
            <section id="contact" class="l-section">
                <div class="l-section__inner">
                    <h2 class="c-text-heading2">
                        contact
                        <span
                            >ホームページに関することなら<br />
                            お気軽にご相談ください</span
                        >
                    </h2>
                    <p class="c-text-lead">
                        お問合わせはこちらからご連絡ください。
                    </p>
                    <form
                        action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSdKu5nx2UrKoUZ2vpv8aKSG0LmLhYMiGTr5FKgEVZTHTBbblw/formResponse"
                        method="POST"
                        target="hidden_iframe"
                        onsubmit="submitted=true;"
                        class="c-form"
                    >
                        <div class="c-form__item">
                            <label class="c-form__label" for="field-name"
                                >名前・会社名<span class="c-form__required"
                                    >必須</span
                                ></label
                            >
                            <input
                                name="entry.690315515"
                                class="c-form__input"
                                id="field-name"
                                placeholder="株式会社 山田"
                                type="text"
                                required="required"
                            />
                        </div>
                        <div class="c-form__item">
                            <label class="c-form__label" for="field-mail"
                                >メールアドレス<span class="c-form__required"
                                    >必須</span
                                ></label
                            >
                            <input
                                name="entry.310605352"
                                class="c-form__input"
                                id="field-mail"
                                placeholder="sample@gmail.com"
                                type="email"
                                required="required"
                            />
                        </div>
                        <div class="c-form__item">
                            <label class="c-form__label" for="field-select"
                                >ご用件/目的<span class="c-form__required"
                                    >必須</span
                                ></label
                            >
                            <select
                                name="entry.2098078720"
                                class="c-form__input"
                                id="field-select"
                                required="required"
                            >
                                <option value="">選択してください</option>
                                <option value="WEBサイトデザインのお見積り">
                                    WEBサイトデザインのお見積り
                                </option>
                                <option value="WEBサイトコーディングのお見積り">
                                    WEBサイトコーディングのお見積り
                                </option>
                                <option value="WEBサイト構築のお見積り">
                                    WEBサイト構築のお見積り
                                </option>
                                <option value="取材等の連絡">
                                    取材等の連絡
                                </option>
                                <option
                                    value="その他（メッセージ内容に記載ください）"
                                >
                                    その他（メッセージ内容に記載ください）
                                </option>
                            </select>
                        </div>
                        <div class="c-form__item">
                            <label class="c-form__label" for="field-message"
                                >メッセージ内容</label
                            >
                            <textarea
                                name="entry.1726417427"
                                class="c-form__input"
                                id="field-message"
                                placeholder="お問い合わせ内容"
                            ></textarea>
                        </div>
                        <div class="c-cta">
                            <button type="submit" class="c-cta__button">
                                送信する
                            </button>
                        </div>
                    </form>
                    <p id="js-formThanks" class="c-formThanks">
                        お問い合わせありがとうございます。
                    </p>
                    <script>
                        let submitted = false;
                    </script>
                    <iframe
                        name="hidden_iframe"
                        id="hidden_iframe"
                        style="display: none"
                        onload="if(submitted){document.getElementById('js-formThanks').classList.add('is-received');}"
                    ></iframe>
                </div>
            </section>
            <!-- /#contact -->
        </main>
        <!-- /main -->

        <%- include('./_common/_footer',{path:path,}) %>
    </body>
</html>
